body {
  margin: 0;
  padding: 0;
  background: #000099
}

#wrapper {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	background: #000099;
}

#header {
	margin-right: auto;
	margin-left: auto;
	background: #6B6B96;
	border-radius: 15px;
	padding: 5px 0px 5px 10px;
	margin-bottom: 20px;
}

#sidebar {
	float: left; 
	margin-left: 10px; 
	width: 160px; 
	display: inline;
	background: #9999D6;
	border-radius: 15px;
}

#main {
   float: left;
   width: 550px;
   padding-left: 10px;
   background: #9999D6;
   border-radius: 15px;
   margin-bottom: 25px;
}

#footer {
	clear: both;
    position: relative;
    bottom: 0;
    height: 3em;
    margin-top: -3em;
	background: #6B6B96;
	border-radius: 15px;
}