body {
  margin: 0;
  padding: 0;
  background: #F781F3
}

#wrapper {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	background: #F781F3;
}

#header {
	margin-right: auto;
	margin-left: auto;
	background: #6A0888;
}

#sidebar {
	float: left; 
	margin-left: 10px; 
	width: 160px; 
	display: inline;
	background: #6A0888;
}

#main {
   float: left;
   width: 550px;
   padding-left: 10px;
   background: #6A0888;
}

#space {
	height: 50px;
	clear: both;
	background: #F781F3;
}

#footer {
	clear: both;
    position: relative;
    bottom: 0;
    height: 3em;
    margin-top: -3em;
	background: #6A0888;

}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h4 { 
   position: absolute; 
   top: 175px; 
   left: 2; 
   width: 50px; 
}

h4 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background-color: #F781F3;
   padding: 10px; 
}

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
}