/*
#f2eae4 - neutral
#b2ded6 - bluish-green
#6eb397 - green
#34383d - black
#a16b66 - brown
#bfb5b2 - grayish-brown
*/

body {
  margin-top: 5px;
  padding: 5px;
  background: #f2eae4;

}
#wrapper {
	max-width: 1024px
	margin-right: auto;
	margin-left: auto;
	background: #f2eae4;
}

header {
	width: 99%;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
	margin: 0px 5px 5px 0px;
	background: #6eb397;
}



#sidebar {
	float: left; 
	margin-left: 10px; 
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 5px;
	width: 30%; 
	display: inline;
	background: #f2eae4;
}

#sidebar li {
	padding: 2px;
	margin-left: 15px;
}

#main {
   float: left;
   width: 65%;
   border-radius: 15px;
   padding-left: 10px;
   margin-bottom: 10px;
   background: #b2ded6;
}

footer {
	width: 99%;
	clear: both;
	text-align: center;
    position: relative;
    border-radius: 15px;
    margin-bottom: 0px;
    height: 80px;
    margin-top: -3em;
    padding: 1px;
	background: #6eb397;
}

footer a {
	padding: 2px;
}

/***Typography***/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: black;
}

h3 {
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/***Links***/

a:link {
	text-decoration: none;
	color: #a16b66;
}

a:hover {
	color: #bfb5b2;
}

a:visited {
	color: #bfb5b2;
}





/*#main img {
	width: 60px;
	height: 79px;
}*/

