/*
#f2eae4 - neutral
#b2ded6 - bluish-green
#6eb397 - green
#34383d - black
#a16b66 - brown
#bfb5b2 - grayish-brown
*/

/*Index*/

header {
	padding: 5px;
	background-color: #6eb397;
	width: 100%;
	float: right;
	margin: auto 5px;
}

	header h1 {
		text-align: center;
	}

	header h2 {
		text-align: center;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 1px;
		margin-top: -25px;
		margin-bottom: 2px;
	}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bfb5b2;
    margin: 1em 0;
    padding: 0;
}

nav {
	font-size: 12px;
	font-weight: 700;
}
	nav ul ul {
		display: none;
	}

	nav ul li:hover > ul {
		display: block;
	}

	nav ul {
		background-color: #6eb397; 
		list-style: none;
		position: relative;
		display: inline-table;
	}

	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

	nav ul li {
		float: left;
	}
	nav ul li:hover {
		background: #a16b66;
	}
	nav ul li:hover a {
		color: #fff;
	}

	nav ul li a {
		display: block; 
		padding: 0px 10px;
		margin: 5px;
		color: black; 
		text-decoration: none;
	}

	nav ul ul {
		background: #a16b66; 
		border-radius: 0px; 
		padding: 0px;
		position: absolute; 
		top: 100%;
	}
	nav ul ul li {
		float: none; 
		position: relative;
	}

	nav ul ul li a {
		padding: 0px 10px;
		color: #fff;
		margin: 5px;
	}	
	nav ul ul li a:hover {
		background: #4b545f;
	}


body {
  	padding: 0px;
	margin: auto 5px;
  	background-color: #fff;
  	width: 100%;
}

#title {
	float: right;
	width: 100%;
	background-color: #b2ded6;
	margin: auto 5px;
	padding-bottom: 5px;
}

	#title h2 {
			padding-top: 20px;
			text-align: center;
			color: black;
		}


#main {
   width: 100%;
   float: right;
   padding-left: 50px;
   padding-right: 0px;
   background-color: #f2eae4;

}

	#main p {
		padding: 20px;
	}

	#main h3 {
		padding-top: 20px;
	}

	#main h5 {
		text-indent: 100px;
		font-family: courier;
		font-size: 12px;
		font-weight: 400;
		padding: 1px;
		margin: 2px;
	}

	#main span {
		display: inline-block;
		padding-left: 25px;
	}

.box-container {
	width:400px;
 	border:1px solid #000;
}

footer {
	width: 100%;
	float: right;
	text-align: center;
    margin-bottom: -10px;
    height: 100px;
    margin-top: 0em;
    padding: 1px;
	background-color: #6eb397;
}

	footer a {
		padding: 2px;
	}

/***Typography***/

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/***Links***/

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #bfb5b2;
}

a:visited {
	color: #a16b66;
}


/*#main img {
	width: 60px;
	height: 79px;
}*/

